<apex:page showHeader="true" sidebar="false" controller="VerifyListView_Ctlr">
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"/>
	<div id="list" style="font-size:20px;">
    </div>
    <script>
        $('#list').text('{!$Label.csma__cs_creating_a_list_view}');
        //console.log('{!flag}');
        if('{!pendingLVId}'){
            setTimeout(function() {
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.VerifyListView_Ctlr.deletePendingLV}','{!pendingLVId}', function(result, event){
                    if(event.type == 'exception') {
                        console.log('error in pending list view deletion.')
                    } else if(result){
                        //$('#list').text('Deleteing from pending');
                    }
                });
            }, 1000);
            setTimeout(function() {
                if('{!flag}'== 'true'){
                    $('#list').text('{!$Label.csma__cs_list_view_has_been_created_successfully}');
                }else if('{!flag}' == 'Already Created'){
                    $('#list').text('{!$Label.csma__cs_the_listview_has_been_already_created}');
                }else{
                    $('#list').text('{!$Label.csma__cs_unable_to_create_list_view}');
                }
            }, 3000);
        }
    </script>
</apex:page>